.lab, .text {
    display: block;
    margin-top: 10px;
}
.text {
    margin-top:5px;
}
input, select {
    width: 100%;
}
.display {
    margin-top: 10px;
}
textarea {
    resize:vertical;
    max-height: 70px;
    width: 100%;
}
.inline {
    display: inline;
}